<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Enroller</title>


	<link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
	<link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link href="css/main.css" rel="stylesheet" media="all">

	<style>
		.input-group{
			display: block;
		}
		.card-1 .card-body {
			padding-bottom: 100px;
		}
	</style>
</head>

<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">ENROLLER</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
		<div class="wrapper wrapper--w680">
			<div class="card card-1">
				<div class="card-heading"></div>
				<div class="card-body">
					<h2 class="title">ADD Employee</h2>

					<form method="POST" action="/addEmployee">

						<div class="input-group">
							<input class="input--style-1" type="text" placeholder="FIRSTNAME" name="firstName">
						</div>
						<div class="input-group">
							<input class="input--style-1" type="text" placeholder="LASTNAME" name="lastName">
						</div>
						<div class="input-group">
							<input class="input--style-1" type="text" placeholder="ADDRESS" name="address">
						</div>
						<div class="input-group">
							<input class="input--style-1 js-datepicker" type="date" placeholder="BIRTHDATE" name="birthday"> <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
						</div>

						<div class="row row-space">
							<div class="col-2">
								<div class="input-group">
									<input class="input--style-1" type="text" placeholder="GENDER" name="gender">
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<input class="input--style-1" type="email" placeholder="EMAIL" name="email">
								</div>
							</div>

						</div>

						<div class="input-group">
							<input class="input--style-1" type="text" placeholder="USERNAME" name="username">
						</div>

						<div class="input-group">
							<input class="input--style-1" type="text" placeholder="PASSWORD TO BE ASSIGNED" name="password">
						</div>


						<div class="row row-space">
							<div class="col-2">
								<div class="input-group">
									<input class="input--style-1" type="number" placeholder="PHONE NUMBER" name="phone">
								</div>
							</div>
							<div class="col-2">
								<div class="input-group">
									<input class="input--style-1" type="number" placeholder="SALARY" name="salary">
								</div>
							</div>
						</div>

						<div class="input-group">
							<input class="input--style-1 js-datepicker" type="text" placeholder="DATE OF JOINING  " name="doj"> <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
						</div>

						<div>
							<div class="p-t-20" style="float: left;">
								<button class="btn btn--radius btn--green" type="submit">Go Back</button>
							</div>
							<div class="p-t-20" style="float:right;">
								<button class="btn btn--radius btn--green" type="submit">Submit</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/select2/select2.min.js"></script>
	<script src="vendor/datepicker/moment.min.js"></script>
	<script src="vendor/datepicker/daterangepicker.js"></script>
	<script src="js/global.js"></script>

</body>

</html>
